body{
    background-color: lightblue;
    height:100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

span{
    font-size: 80%;
    font-weight: lighter;
}

.card{
    background-color: white;
    padding: 20px;
    border:5px double #4a5759;
}

